
header > section{    
    background-image: url(pattern.png);
    background-repeat: repeat;
}
.scritta{
    color: gray;
}
    
.tabella2 {
    width: 500px;
}
.tabella3 {
    height: 50px;
    width: 500px;
}