.sfondo2{
    background-color: aqua;
    height: 200px;
    
}
header > section{
    background-repeat: repeat;
}
.scritta{
    color: gray;
}
    
.tabella2 {
    width: 500px;
}
.tabella3 {
    height: 50px;
    width: 500px;
}